<section class="head">

<div class="navwrapper1">
    <div class="nav1st">
        <h3 id="clr">About Us</h3>
        <br>
        <p>|</p>
        <h3 id="clr">Careers</h3>
        <br>
        <p>|</p>
        <h3 id="clr">Open a Shop</h3>
    </div>
    <div class="nav2nd">
        <h3>Free shipping for all orders over <span>$75.00</span></h3>
    </div>
    <div class="nav3rd">
        <h3>Need help? Call Us:<span>+ 1800 900</span></h3>
        <div><label for="Language">English</label>
            <select name="lang" id="Language">
              <option value="Francais">Francais</option>
              <option value="Espanol">Espanol</option>
              <option value="Portugues">Portugues</option>
              <option value="中国人">中国人 </option>
            </select></div>
            <div><label for="Currency">USD</label>
            <select name="crncy" id="Currency">
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              <option value="AUD">AUD</option>
              <option value="SGP">SGP </option>
            </select></div>
    </div>
</div>

<hr>


<div class="navwrapper2">
    <div class="navlogosearch">
     <div class="navlogo"><img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/logo.svg" alt=""></div>
     <div class="srchdropdown">
        <select name="Search" size="1" id="searcbar">
            <option value="" >All categories</option>
            <option value="cmptr">Computer Accessories</option>
            <option value="phn">Cell Phones</option>
            <option value="game">Gaming Gatgets</option>
            <option value="watches">Smart watches</option>
            <option value="wired">Wired Headphone</option>
            <option value="mouse">Headphone</option>
            <option value="mouse">Bluetooth devices</option>
            <option value="mouse">Cloud Software</option>
        </select>
     </div>
    </div>
    <div class="navoptions">
    <div class="navhome" id="clr">
        <label for="home">Home</label>
        <select name="navHome" id="home">
          <option value="Homepage-1">Homepage-1</option>
          <option value="Homepage-2">Homepage-2</option>
          <option value="Homepage-3">Homepage-3</option>
          <option value="Homepage-4">Homepage-4</option>
          <option value="Homepage-5">Homepage-5</option>
          <option value="Homepage-6">Homepage-6</option>
        </select> 
    </div>

    <div class="navshop" id="clr">
        <label for="shop">Shop</label>
        <select name="navShop" id="shop">
          <option value="Homepage-1">Homepage-1</option>
          <option value="Homepage-2">Homepage-2</option>
          <option value="Homepage-3">Homepage-3</option>
          <option value="Homepage-4">Homepage-4</option>
          <option value="Homepage-5">Homepage-5</option>
          <option value="Homepage-6">Homepage-6</option>
        </select> 
    </div>

    <div class="navvendors" id="clr">
        <label for="vendors">Vendors</label>
        <select name="navVendors" id="vendors">
          <option value="Homepage-1">Homepage-1</option>
          <option value="Homepage-2">Homepage-2</option>
          <option value="Homepage-3">Homepage-3</option>
          <option value="Homepage-4">Homepage-4</option>
          <option value="Homepage-5">Homepage-5</option>
          <option value="Homepage-6">Homepage-6</option>
        </select> 
    </div>

    <div class="navpages" id="clr">
        <label for="pages">Pages</label>
        <select name="navPages" id="pages">
          <option value="Homepage-1">Homepage-1</option>
          <option value="Homepage-2">Homepage-2</option>
          <option value="Homepage-3">Homepage-3</option>
          <option value="Homepage-4">Homepage-4</option>
          <option value="Homepage-5">Homepage-5</option>
          <option value="Homepage-6">Homepage-6</option>
        </select> 
    </div>

    <div class="navblog" id="clr">
        <label for="blog">Blog</label>
        <select name="navBlog" id="blog">
          <option value="Homepage-1">Homepage-1</option>
          <option value="Homepage-2">Homepage-2</option>
          <option value="Homepage-3">Homepage-3</option>
          <option value="Homepage-4">Homepage-4</option>
          <option value="Homepage-5">Homepage-5</option>
          <option value="Homepage-6">Homepage-6</option>
        </select> 
    </div>
</div>
     <div class="navcontact" id="clr">
    <div class="navcontact">Contact Us</div>
    <div class="account"><img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/account.svg" alt=""></div>
    <div class="wishlist"><img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/wishlist.svg" alt=""></div>
    <div class="cart"><img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/cart.svg" alt=""></div>
    <div class="compare"><img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/compare.svg" alt=""></div>
    </div>


</div>
</section>

<section class="prdtsctn1">
<div class="product">
    <div class="boxlrg" id="bxhvr">
        <div class="bximg">
            <img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/delivery.svg" alt="">
        </div>
        <div class="pdtcontent">
            <div class="main">Delivery</div>
            <p id="para">From all orders over $10</p>
        </div>
    </div>
    <div class="boxsml" id="bxhvr">
        <div class="bximg">
        <img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/delivery.svg" alt="">
    </div>
        <div class="pdtcontent">
            <div class="main">Delivery</div>
            <p id="para">From all orders over $10</p>
        </div>
    </div>
    <div class="boxsml" id="bxhvr">
        <div class="bximg">
            <img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/delivery.svg" alt="">
        </div>
        <div class="pdtcontent">
            <div class="main">Delivery</div>
            <p id="para">From all orders over $10</p>
        </div>
    </div>
    <div class="boxlrg" id="bxhvr">
        <div class="bximg">
            <img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/delivery.svg" alt="">
        </div>
        <div class="pdtcontent">
            <div class="main">Delivery</div>
            <p id="para">From all orders over $10</p>
        </div>
    </div>
    <div class="boxsml" id="bxhvr">
        <div class="bximg">
            <img src="http://wp.alithemes.com/html/ecom/demo/assets/imgs/template/delivery.svg" alt="">
        </div>
        <div class="pdtcontent">
            <div class="main">Delivery</div>
            <p id="para">From all orders over $10</p>
        </div>
    </div>
</div>


</section>




